*
{
	margin:0;
}

#navbar
{
	top:0;
	width:100%;
	padding-bottom:1%;
	background-color: #232222;
	border-bottom:1.5px solid #ffa100;
	border-bottom-style: inset;
	position: fixed;
}

#navlogo
{
	position: relative;

}

#navbar li
{
	display: inline;
	margin-right: 5%;
	margin-left: 5%;
	
}



#navbar li a
{
	position: relative;
	top:23px;
	background-color: #232222;
	text-decoration: none;
	color: #abacad;
	font-size: 20px;
	font-family: 'arial';
	font-weight: 400;
}

#navbar li :hover
{
	color: #ffa100;
	transition-duration: 0.1s;
}

#searchBtn
{
	position: relative;
	top:26px;
}

#searchBar 
{
	position: relative;
	left:70%;
	background-color: #636262;
	border: 1px solid #ffa100;
	visibility: hidden;
	border-radius: 9px;
}

#loginBtn
{
	position: relative;
	left:850px;
	color: #abacad;
	font-size: 18px;
	font-family: 'arial';
	text-decoration: none;
}

body
{
	background-color: #0f0f0f;
	margin-bottom: 4000px;

}

#register-box
{
	margin-right: 30%;
	margin-left: 30%;
	margin-top: 8%;
	padding-bottom: 28%;
	background-color: #232222;
}

#register-box form
{
	display: block;
	color: #ffa100;
	font-family: 'arial';
	font-size: 11px;
	color: #abacad;
}

#register-box form input[type=text]/*the input fields*/
{
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: #232222;
	border: 0px solid #232222;
	border-bottom: 0.5px solid #ffa100;
	color: #ffffff;
}

#register-box form input[type=submit]/*submit button*/
{

}